@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
/* html{
    background:
        radial-gradient(transparent, black),;
    background-size: cover;
} */
body {
  background: linear-gradient(
      90deg,
      #23619b 0%,
      transparent 30%,
      transparent 70%,
      #23619b 100%
    ),
    radial-gradient(white, transparent 20%),
    linear-gradient(180deg, #ffcb05 0, #ff3636 30%, #001b3a 100%);
  color: #2a75bb;
  margin: 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Press Start 2P", monospace;
}
h1,
h2 {
  color: #ffcb05;
  text-shadow: 2px 2px 0 #2a75bb;
  max-width: 1200px;
  margin: 30px 40px;
}
h1 {
  text-shadow: 3px 3px 0 #155b9c;
}
h3 {
  font-size: 14px;
  color: #222;
}
.section {
  background: #fff;
  padding: 0 40px 40px 40px;
  margin: 15px 10px;
  max-width: 800px;
  border: 4px solid #2a75bb;
  border-radius: 20px;
  border-top: none;
  border-left: none;
  box-shadow: 4px 4px 0 #ffcb05;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: clamp(9px, 2vw, 14px);
  font-weight: 700;
  margin: 10px 0;
  background-color: #ffcd05a2;
  max-width: 720px;
  margin: auto;
  display: block;
  overflow-x: auto;
  box-shadow: 4px 4px 0 #ffcb05;
}
td,
th {
  border: 2px solid #2a75bb;
  padding: 8px;
  text-align: center;
}
th {
  background: #2a75bb;
  color: #ffcd05;
}
td:first-child {
  font-weight: 700;
  color: #d62828;
}
td:first-child {
  font-weight: 700;
  color: #d62828;
}
ul {
  list-style-type: "▶ ";
  padding-left: 20px;
  max-width: 700px;
  margin: auto;
}
ul ul {
  list-style-type: circle;
}
.highlight {
  color: #d62828;
  font-weight: 700;
}
.conclusion {
  background-color: #d62828;
  color: #fff0b4;
}
.byepp {
  color: #155b9c;
  text-shadow: 3px 3px 0 #ffcb05;
}
footer {
  height: 70px;
  text-align: center;
  margin-top: 80px;
  /* margin-bottom: 20px; */
  font-size: clamp(8px, 2vw, 10px);
  color: #f1f1f1;
}
h1 {
  font-size: clamp(16px, 4vw, 24px);
}
h2 {
  font-size: clamp(14px, 3vw, 16px);
}
h3 {
  font-size: clamp(12px, 2.5vw, 14px);
  color: #2a75bb;
}
li,
p {
  font-size: clamp(10px, 2.2vw, 15px);
  line-height: 1.6;
}
.wrapper{
  position: relative;
  height: 5vmin;
  width: 5vmin;
  margin: 20px auto 0px auto;
}
.pokeball {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0.4vmin solid #1b1b1b;
  background-image: radial-gradient(
      white 20%,
      #fff 20%,
      #1b1b1b 20%,
      #1b1b1b 30%,
      transparent 30%,
      transparent
    ),
    linear-gradient(red 46%, #1b1b1b 46%, #1b1b1b 54%, #fff 54%);
  position:absolute;
  z-index: 1;
}
.dummy{
  /* border: 0.4vmin solid transparent; */
  height: 110%;
  width: 110%;
  border-radius: 50%;
  box-shadow: .5vw .5vw 0 #2a75bb;
  position: absolute;
  z-index: 0;
}
.yellow-spot{
  margin-left: 22%;
  margin-top: 12%;
  position: absolute;
  z-index: 2;
  width: 30%;
  height: 20%;
  border-radius: 50%;
  background: #fff6d0e8;
  rotate: -25deg;
}
.poke-bottom {
  height: 100%;
  width: 100%;
  margin: 30px auto -10px auto;
  border-radius: 50%;
  border: 0.6vmin solid #1b1b1b;
  box-shadow: 0px 0px 20px rgba(249, 251, 255, 0.226);
}
.poke-bottom:hover {
  box-shadow: 0px 0px 40px rgba(249, 251, 255, 0.637);
}
header {
  background-color: #d62828;
  max-width: 1200px;
  position: sticky;
  top: 10px;
  margin: 10px 10px 20px 10px;
  padding: 0;
  border-radius: 20px;
  overflow: auto;
  border: 4px solid #2a75bb;
  border-top: none;
  border-left: none;
  box-shadow: 4px 4px 0 #ffcb05, 1px 1px 2px rgba(3, 7, 18, 0.116),
    3px 3px 8px rgba(3, 7, 18, 0.171), 6px 6px 19px rgba(3, 7, 18, 0.514);
    /* 12px 12px 33px rgba(3, 7, 18, 0.21), 18px 18px 52px rgba(3, 7, 18, 0.26); */
}
.back-to-top {
  height: 80px;
  width: 80px;
  position:relative;
  display: flex;
  justify-content: center;
  bottom: 30px;
  transition: translate 0.3s, box-shadow 0.3s;
}
.back-to-top:hover{
  translate: 0px -40px;
}
.back-to-top .yellow-spot{
  margin-right: 45px;
  margin-top: 40px;
}
.emoji {
  text-shadow: none;
  margin-right: 10px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    /* background: linear-gradient(180deg, #ffcb05 0, #ff3636 30%, #00234b 100%); */
  }
  header {
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .section {
    padding: 12px 12px 20px 12px;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px auto;
  }
  h1 {
    margin: 20px 5px;
  }
  h2,
  h3 {
    margin: 10px auto;
  }
  td,
  th {
    padding: 5px;
  }
  .wrapper{
    height: 12vmin;
    width: 12vmin;
    margin: 15px auto 0px auto;
  }
  .pokeball {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1vmin solid #1b1b1b;
  }
  .dummy{
  box-shadow: 1.6vw 1.6vw 0 #2a75bb;
  }
  footer {
    height: 10%;
    margin-top: 80px;
    margin-bottom: 5px;
  }
  .back-to-top{
    position: fixed;
    bottom: 90px;
  }
  .poke-bottom {
    position:relative;
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    border: 0.8vmin solid #1b1b1b;
    box-shadow: 0px 0px 14px rgba(249, 251, 255, 0.767);
  }
  .poke-bottom:hover{
    translate:none;
  }
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
